/* ---------------------------Homepage CSS Stylesheet--------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f6f8fd;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: white;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 80vw;
    margin: auto;
    height: 86px;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    width: 665px;
    border: 3px solid #0D6EFD;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    height: 100%;
    width: 421px;
    padding: 0 10px;
    font-size: 16px;
    color: #8B96A5;
}

.search-bar input:focus {
    outline: none;
}

.search-bar .cat-btn {
    height: 100%;
    width: 145px;
    background-color: white;
    font-size: 16px;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-left: 1px solid #0D6EFD;
    cursor: pointer;
}

.search-bar .cat-btn img {
    transform: rotate(180deg);
}

.search-bar .search-btn {
    height: 100%;
    width: 99px;
    background-color: #0D6EFD;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.search-bar .search-btn:hover {
    background-color: #0A58CA;
    transition: background-color 0.3s ease;
}

.menu-div {
    display: flex;
    align-items: center;
}

.menu-div .menu-opt {
    font-size: 12px;
    color: #8B96A5;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    height: 40px;
}

.menu-div .menu-opt a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu-div .menu-opt a:hover {
    filter: brightness(0) saturate(100%) invert(27%) sepia(79%) saturate(3656%) hue-rotate(205deg) brightness(97%) contrast(101%);
}




nav {
    width: 80vw;
    height: 56px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 620px;
    height: 100%;
    font-size: 16px;
}

nav a:hover {
    color: #0D6EFD;
}

nav .nav-links a:first-child,
nav .nav-links a:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    margin-left: 10px;
}



.main-section {
    width: 80vw;
    height: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.main-section .categories {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.main-section .categories p {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    color: #505050;
}

.main-section .categories p:first-child {
    background-color: #E5F1FF;
    color: black;
}

.main-section .categories p:hover {
    color: #0D6EFD;
}


.main-section .banner {

    position: relative;

}

.main-section .banner .banner-text {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.main-section .banner .banner-text button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.main-section .banner-text button:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
}

.main-section .user-promo {
    width: 200px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-section .user-promo .user {
    width: 200px;
    height: 150px;
    background-color: #E3F0FF;
    padding: 10px;
    border-radius: 5px;
}

.main-section .user-promo .user div {
    display: flex;

}

.main-section .user-promo .user button {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border: none;
    background-color: white;
    color: #0D6EFD;
    border-radius: 5px;
    cursor: pointer;
}

.main-section .user-promo .user button:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.main-section .user-promo .user button:first-of-type {
    background-color: #0D6EFD;
    color: white;
}

.main-section .user-promo .promo {
    width: 100%;
    height: 95px;
    padding: 15px;
    background-color: #F38332;
    color: white;
    border-radius: 5px;
}

.main-section .user-promo .quote {
    width: 100%;
    height: 95px;
    padding: 15px;
    background-color: #55BDC3;
    color: white;
    border-radius: 5px;
}

.sale-section {
    width: 80vw;
    height: 240px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.sale-section .deal {
    padding: 20px;
}

.sale-section .deal h3 {
    font-size: 20px;
    color: #1c1c1c;
}

.sale-section .deal p {
    font-size: 16px;
    color: #8B96A5;
}

.sale-section .deal img {
    margin-top: 20px;
}

.sale-section .sale-items {
    display: flex;
    align-items: center;
    height: 100%;
}

.sale-section .sale-items .item {
    height: 100%;
    width: 179px;
    border-left: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;

}

.sale-section .sale-items .item:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
    cursor: pointer;
    border-left: none;
}

.sale-section .sale-items .item div {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale-section .sale-items .item p {
    font-size: 16px;
    color: #1c1c1c;
    margin-top: 10px;
}

.sale-section .sale-items .item span {
    font-size: 14px;
    color: #EB001B;
    margin-top: 5px;
    background-color: #FFE3E3;
    height: 28px;
    width: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.items-section {
    width: 80vw;
    height: 257px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
}

.items-section .left-aside {
    width: 302px;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.items-section .left-aside img {
    transform: scaleX(-1);
    filter: brightness(0.9);
}

.items-section .left-aside div {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.items-section .left-aside h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.items-section .left-aside button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.items-section .left-aside button:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
}

.items-section .group {
    display: grid;
    grid-template-columns: repeat(4, 231px);
    grid-template-rows: repeat(2, 127px);
    background-color: white;
}

.items-section .group .group-item {
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    position: relative;
    padding: 20px 10px;
    transition: transform 0.3s ease;
}

.items-section .group .group-item:hover {
    transform: scale(1.1);
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}

.items-section .group .group-item img {
    position: absolute;
    top: 35%;
    left: 65%;
}

.items-section .group .group-item h3 {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
    font-weight: 400;
}

.items-section .group .group-item p {
    font-size: 13px;
    color: #8B96A5;
}

.inquiry-section {
    width: 80vw;
    height: 420px;
    margin: 20px auto;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    position: relative;
    background-image:
        linear-gradient(94.99deg, #2C7CF1 7.19%, rgba(0, 209, 255, 0.5) 89.49%),
        url('assets/imgs/cargo.png');
    background-size: cover;
    background-position: center;
}

.inquiry-section .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.inquiry-section .content .inquiry-info {
    color: white;
    padding: 40px;
}

.inquiry-section .content .inquiry-info h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.inquiry-section .content .inquiry-info p {
    font-size: 16px;
    font-weight: 300;
}

.inquiry-section .content .inquiry-form {
    width: 491px;
    height: 346px;
    margin: 40px;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 20px;
}

.inquiry-section .content .inquiry-form h3 {
    font-size: 20px;
    color: #1c1c1c;
    margin-bottom: 10px;
}

.inquiry-section .content .inquiry-form .item-name {
    width: 440px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.inquiry-section .content .inquiry-form .item-name::placeholder {
    color: black;
}

.inquiry-section .content .inquiry-form .item-details {
    width: 440px;
    height: 73px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.inquiry-section .content .inquiry-form .item-details::placeholder {
    font-family: "Inter", sans-serif;
}

.inquiry-section .content .inquiry-form .item-quantity {
    width: 206px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.inquiry-section .content .inquiry-form .item-pcs {
    width: 111px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.inquiry-section .content .inquiry-form button {
    width: 128px;
    height: 40px;
    background-color: #0D6EFD;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.inquiry-section .content .inquiry-form button:hover {
    background-color: #0A58CA;
    transition: background-color 0.3s ease;
}

.recommended-section {
    width: 80vw;
    height: 696px;
    margin: 20px auto;
}

.recommended-section h2 {
    font-size: 24px;
    color: #1c1c1c;
    margin-bottom: 20px;
}

.recommended-section .recommended-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 220px);
    grid-template-rows: repeat(2, 310px);
    gap: 32px;
}

.recommended-section .recommended-items .item {
    width: 100%;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.recommended-section .recommended-items .item:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    cursor: pointer;
}

.recommended-section .recommended-items .img-box {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended-section .recommended-items span {
    font-size: 16px;
    color: black;
    margin-top: 15px;
    font-weight: 500;
    margin-left: 15px;
}

.recommended-section .recommended-items .item p {
    font-size: 16px;
    font-weight: 400;
    color: #8B96A5;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.services-section {
    width: 80vw;
    height: 256px;
    margin: 30px auto;
}

.services-section h2 {
    font-size: 24px;
    color: #1c1c1c;
    margin-bottom: 20px;
}

.services-section .services-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-section .services-container .services {
    width: 280px;
    height: 200px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.services-section .services-container .services:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    cursor: pointer;
}

.services-section .services-container .services .image {
    width: 100%;
    height: 120px;
    position: relative;
}

.services-section .icons {
    width: 55px;
    height: 55px;
    position: absolute;
    background-color: #D1E7FF;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    left: 75%;
}

.services-container p {
    font-size: 16px;
    color: #1c1c1c;
    margin-top: 20px;
    margin-left: 15px;
}

.countries-section {
    width: 80vw;
    height: 138px;
    margin: 30px auto;
}

.countries-section h2 {
    font-size: 24px;
    color: #1c1c1c;
    margin-bottom: 30px;
}

.countries-section .countries-container {
    width: 100%;
    height: 82px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 15px;
}

.countries-section .countries {
    width: 221px;
    height: 36px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.countries-section .countries:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    cursor: pointer;
}

.countries-section .countries h3 {
    font-size: 16px;
    color: #1c1c1c;
    margin-left: 10px;
    font-weight: 400;
}

.countries-section .countries p {
    font-size: 13px;
    color: #8B96A5;
    margin-left: 10px;
}



footer {
    width: 100vw;
    background-color: white
}


footer .newsletter {
    background-color: #EFF2F4;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .newsletter h2 {
    font-size: 20px;
    color: #1c1c1c;
    margin-bottom: 8px;
    font-weight: 600;
}

footer .newsletter p {
    font-size: 16px;
    color: #606060;
    margin-bottom: 20px;
}

footer .newsletter form {
    width: 392px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .newsletter form input {
    width: 274px;
    height: 100%;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: #8B96A5;
    border-radius: 5px;
    background: url('assets/imgs/email.png') no-repeat 10px center;
    padding-left: 40px;
    background-color: white;
}

footer .newsletter form input:focus {
    outline: none;
}

footer .newsletter form button {
    width: 110px;
    height: 100%;
    background-color: #0D6EFD;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer .footer-container .footer-links {
    width: 80vw;
    height: 256px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #f0f0f0;
}

.company-info {
    width: 276px;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.company-info p {
    font-size: 16px;
    color: #505050;
    margin-bottom: 15px;
    margin-top: 15px;
}

.company-info a:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(27%) sepia(79%) saturate(3656%) hue-rotate(205deg) brightness(97%) contrast(101%);
}

li {
    list-style: none;
}

.footer-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-links .links h3 {
    font-size: 16px;
    color: #1c1c1c;
    margin-bottom: 10px;
    font-weight: 500;
}

.footer-links .links a {
    font-size: 16px;
    color: #8B96A5;
}

.footer-links .links a:hover {
    color: #0D6EFD;
}

.footer-links .links li {
    margin-bottom: 10px;
}

.footer-container .footer-bar {
    background-color: #DEE2E7;
    width: 100%;
    height: 68px;
    margin-bottom: 10px;
}

.bar-content {
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #606060;
}

.bar-content .language {
    width: 107px;
    display: flex;
    justify-content: space-between;
}





/* ---------------------------Product Page CSS Stylesheet--------------------------- */

.p-main-section {
    width: 80vw;
    height: 580px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border: 1px solid #DEE2E7;
    border-radius: 10px;
}

.p-main-section .p-images {
    width: 380px;
    height: 90%;
}

.p-main-section .p-images .p-main-image {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.p-main-section .p-images .p-gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-main-section .p-images .p-gallery .p-gallery-image {
    width: 56px;
    height: 56px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.p-main-section .p-info {
    width: 430px;
    height: 514px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.p-main-section .p-info .p-instock {
    width: 84px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #00B517;
    margin-bottom: 10px;
}

.p-main-section .p-info h2 {
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 600;
    margin-bottom: 10px;
}

.p-main-section .p-info .p-ratings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #787A80;
    margin-bottom: 10px;
}

.p-main-section .p-info .p-ratings img {
    margin-right: 10px;
}

.p-main-section .p-info .p-ratings div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-main-section .p-info .p-prices {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #FFF0DF;
    border-radius: 5px;
    margin-bottom: 20px;
}

.p-main-section .p-info .p-prices .p-price1 {
    margin-left: 20px;
}

.p-main-section .p-info .p-prices .p-price2 {
    border-left: 1px solid #BDC1C8;
    padding: 10px;
}

.p-main-section .p-info .p-prices .p-price3 {
    border-left: 1px solid #BDC1C8;
    padding: 10px;
}

.p-main-section .p-info .p-prices p {
    font-size: 13px;
    color: #606060;
}

.p-main-section .p-info .p-text {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

.p-main-section .p-info hr {
    margin-bottom: 15px;
    color: #E0E0E0;
}

.p-main-section .p-info .p-text p:first-child {
    width: 120px;
    color: #8B96A5;
    font-size: 16px;
}

.p-main-section .p-info .p-text p:last-child {
    color: #505050;

}

.p-main-section .p-seller-info {
    width: 280px;
    height: 325px;
    border: 1px solid #DEE2E7;
    border-radius: 10px;

}

.p-main-section .p-seller-info .p-seller {
    display: flex;
    align-items: center;
    margin: 20px 10px;
}

.p-main-section .p-seller-info hr {
    width: 90%;
    color: #DEE2E7;
    margin-bottom: 20px;
    align-self: center;
    margin: auto;
}

.p-main-section .p-seller-info .p-seller span {
    width: 48px;
    height: 48px;
    background-color: #C6F3F1;
    color: #4CA7A799;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
}

.p-main-section .p-seller-info .p-loc {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 10px;
    color: #8B96A5;
    font-weight: 400;
}

.p-main-section .p-seller-info .p-ver {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #8B96A5;
    font-weight: 400;
}

.p-main-section .p-seller-info .p-world {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #8B96A5;
    font-weight: 400;
}

.p-main-section .p-seller-info button:first-of-type {
    width: 248px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    margin: 10px auto;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}

.p-main-section .p-seller-info button:last-of-type {
    width: 248px;
    height: 40px;
    border: 1px solid #DEE2E7;
    border-radius: 5px;
    background: white;
    color: #0D6EFD;
    cursor: pointer;
    margin-left: 15px;
}

.p-details-section {
    width: 80vw;
    height: 618px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.p-details-section .p-details {
    width: 880px;
    height: 100%;
    border: 1px solid #DEE2E7;
    border-radius: 10px;
    background-color: white;
}

.p-details-section .p-details .p-nav {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #DEE2E7;
}

.p-details-section .p-details .p-nav button {
    height: 100%;
    width: 130px;
    margin: auto;
    border: none;
    background-color: white;
    font-weight: 500;
    color: #8B96A5;
    font-size: 16px;
    cursor: pointer;
}

.p-details-section .p-details .p-nav button:first-of-type {
    border-bottom: 2px solid #0D6EFD;
    color: #0D6EFD;
}

.p-details-section .p-details .p-description {
    margin: 20px;
    color: #505050;
    font-weight: 400;
}

.p-details-section .p-details .p-table {
    margin-left: 20px;
    color: #505050;
}

.p-details-section .p-details td {
    width: 323px;
    height: 36px;
    border: 1px solid #DEE2E7;
    padding: 10px;
}

.p-details-section .p-details td:first-of-type {
    background-color: #EFF2F4;
    width: 204px;
}

.p-details-section .p-details .p-features {
    margin-left: 20px;
    margin-top: 20px;
    color: #505050;
}

.p-details-section .p-details .p-features li {
    margin-bottom: 10px;
}

.p-details-section .p-details .p-features li::before {
    content: url(assets/product-imgs/tick.svg);
    color: grey;
    margin-right: 5px;
}

.p-details-section .p-side-items {
    width: 280px;
    height: 553px;
    border: 1px solid #DEE2E7;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.p-details-section .p-side-items h3 {
    font-weight: 600px;
    color: #1c1c1c;
    margin-bottom: 10px;
}

.p-details-section .p-side-items .p-item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.p-details-section .p-side-items .p-item .p-image {
    width: 80px;
    height: 80px;
    border: 1px solid #DEE2E7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-details-section .p-side-items .p-item p {
    margin-bottom: 10px;
}

.p-details-section .p-side-items .p-item span {
    color: #8B96A5;
}

.p-recommended-section {
    width: 80vw;
    height: 350px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #DEE2E7;
    border-radius: 10px;
    padding: 20px;
}

.p-recommended-section h2 {
    size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.p-recommended-section .p-products {
    display: flex;
    justify-content: space-between;
}

.p-recommended-section .p-products .p-product {
    width: 172px;
    height: 254px;
    cursor: pointer;
}

.p-recommended-section .p-products .p-product .p-image {
    width: 172px;
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    margin-bottom: 15px;
}

.p-recommended-section .p-products .p-product p {
    color: #505050;
    font-weight: 400;
    margin-bottom: 10px;
}

.p-recommended-section .p-products .p-product span {
    color: #8B96A5;
}

.p-banner {
    background-color: #005ADE;
    width: 80vw;
    height: 120px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-banner h3{
    font-weight: 600;
    size: 24px;
}

.p-banner p{
    font-weight: 400;
    size: 16px;
    filter: opacity(0.7);
}

.p-banner .p-discount {
    background-color: #237CFF;
    color: white;
    width: 745px;
    height: 100%;
    clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
}

.p-banner button{
    background-color: #FF9017;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 108px;
    margin-right: 40px;
    cursor: pointer;
}

.p-banner button:hover{
    background-color: #e28017;
}